#chart rect{
  fill: #4aaeea;
}

#chart text{
  fill: #1a1a1a;
  font: 10px sans-serif;
  text-anchor: end; 
}

.axis text{
  font: 10px sans-serif;
}

.axis path, .axis line{
  fill: none;
  stroke : #fff;
  shape-rendering: crispEdges;
}

body{
  background: white;
  color : #1a1a1a;
  padding : 10px;
}